<div class="d-flex justify-content-center">
  <div class="col-md-8">
    <h1>Sign In To MoveTime</h1>
    <% if flash[:notice] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <%= form_for :login do |f| %>
      <div class="form-row">
        <div class="form-group col-md-12">
          <%= f.label      :email %>
          <%= f.text_field :email,
                           class: 'form-control',
                           placeholder: 'Email Address',
                           required: true 
          %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <%= f.label          :password %>
          <%= f.password_field :password, 
                               class: 'form-control', 
                               placeholder: 'Password', 
                               required: true
          %>
        </div>
      </div>
      <div class="form-row float-right">
        <div class="form-group">
          <%= f.submit 'Sign In', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
