<h2>Search Results for <em class="text-info"><%= @results.query %></em></h2>
<h3><span class="text-muted">Results: <%= @results.count %></span></h3>

<div class="list-group">
  <% @results.cities.each do |city| %>
    <%= link_to "/city?q=#{city.slug}&id=#{city.id}",
                class: "list-group-item list-group-item-action 
                       flex-column align-items-start" do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= city.name %></h5>
        <% view = current_user&.views.find_by(geo_id: city.id) %>
        <% if view %>
          <h6>
            <span class="badge badge-info">
              Last viewed <%= time_ago_in_words(view.updated_at) %> ago
            </span>
          </h6>
        <% else %>
          <h6><span class="badge badge-success">New</span></h6>
        <% end %>
      </div>
      <% if current_user&.favorites&.unscoped&.exists?(geo_id: city.id) %>
        <% favorite = current_user&.favorites.unscoped.find_by(geo_id: city.id) %>
        <% if favorite.active %>
          <p class="mb-1 text-muted">
            Location saved into favorites 
            <%= time_ago_in_words(favorite.updated_at.to_date) %> ago
          </p>
        <% else %>
          <p class="mb-1 text-muted">
            Location removed from favorites 
            <%= time_ago_in_words(favorite.updated_at.to_date) %> ago
          </p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
