<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Home', root_path %>
    </li>
      <% if request.env['HTTP_REFERER'].match?(/dashboard/) %>
        <li class="breadcrumb-item">
          <%= link_to 'Dashboard', dashboard_path %>
        </li>
      <% elsif request.env['HTTP_REFERER'].match?(/search/) %>
        <li class="breadcrumb-item">
          <%= link_to 'Search', request.env['HTTP_REFERER'] %>
        </li>
      <% end %>
    <li class="breadcrumb-item active"><%= @city.name %></li>
  </ol>
</nav>

<div class="d-flex p-2 flex-row justify-content-start">
  <div class="bd-highlight flex-grow-1 text-center">
    <div class="d-flex flex-row justify-content-center align-items-center">
      <div class="bd-highlight">
        <h1 id="header-city"><%= @city.name %></h1>
      </div>
        <% if current_user %>
          <div class="bd-highlight ml-2 mb-2 align-self-center">
            <% if current_user&.favorites.exists?(geo_id: @city.id) %>
              <span id="favorites">
                <a href="javascript:void(0)" id="remove" class="badge badge-danger">Remove Favorite</a>
              </span>
            <% else %>
              <span id="favorites">
                <a href="javascript:void(0)" id="add" class="badge badge-success">Add Favorite</a>
              </span>
            <% end %>
            <input type="hidden" id="userId" value="<%= current_user.id %>">
            <input type="hidden" id="geoId" value="<%= @city.id %>">
            <input type="hidden" id="locationName" value="<%= @city.name %>">
          </div>
        <% end %>
      </div>

      <div class="d-flex mt-3 justify-content-around align-items-start">
        <div class="flex-row">
          <div class="bd-highlight text-center">
            <h4>Population Rank</h4>
            <h1 class="display-4">
              <%= @city.pop_rank.ordinalize %>
            </h1>
            <h4>
              <a class="text-info" href="javascript:void(0)" data-toggle="tooltip" title="Population (<%= @city.info_year %>)">
                <%= number_with_delimiter(@city.population, delimiter: ',') %>
              </a>
            </h4>
            <br/>
          </div>
          <div class="bd-highlight text-center">
            <h4>Median Age</h4>
            <h1>
              <%= @city.median_age %> years
            </h1>
          </div>
        </div>
        <div class="flex-row">
          <div class="bd-highlight text-center">
            <h4>Income Rank</h4>
            <h1 class="display-4">
              <%= @city.income_rank.ordinalize %>
            </h1>
            <h4>
              <a class="text-info" href="javascript:void(0)" data-toggle="tooltip" title="Median Household Income (<%= @city.info_year %>)">
                <%= number_to_currency(@city.median_household_income, precision: 0) %>
              </a>
            </h4>
            <br/>
          </div>
          <div class="bd-highlight text-center">
            <h4>Median Property Value</h4>
            <h1>
              <%= number_to_currency(@city.median_property_value, precision: 0) %>
            </h1>
          </div>
        </div>
      </div>
  </div>
  <div class="p-1 bd-highlight">
    <iframe 
      width="520"
      height="360"
      style="border: 0"
      src="https://www.google.com/maps/embed/v1/place?q=<%= @city.name %>&key=<%= ENV['GOOGLE_MAPS_KEY'] %>">
    </iframe>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>Quick Facts</h1>
      <h5 class="ml-1 text-muted"><%= @city.name %> at a glance</h5>

      <div class="container">
        <div class="row">
          <div class="col-sm-12"><strong>Closest Airport</strong></div>
        </div>
        <div class="row">
          <div class="col-sm-7 text-truncate"><%= @city.airport_name %></div>
          <div class="col-sm-5"><%= @city.airport_distance %> (<%= @city.airport_time %>)</div>
        </div>
        <div class="mt-3 row">
          <div class="col-sm-7"><strong>Mean Commute Time</strong></div>
          <div class="col-sm-5"><%= @city.mean_commute_minutes %> minutes</div>
        </div>
        <div class="mt-3 row">
          <div class="col-sm-7"><strong>Total Workers</strong></div>
          <div class="col-sm-5"><%= number_with_delimiter(@city.total_workers, delimiter: ',') %></div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <h1>Ethnicity Breakdown</h1>
      <h5 class="ml-1 text-muted">How diverse is it here?</h5>
      <%= pie_chart(@city.eth_hash) %>
    </div>
  </div>
</div>

<div class="d-flex p-2 flex-column">
  <h1>Transportation</h1>
  <h5 class="ml-2 text-muted">How do people get around?</h5>
  <%= bar_chart(@city.transport_hash) %>
</div>

<br>
